@import url(http://fonts.googleapis.com/css?family=Poppins:400,300);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white:#fff;
    --blue:#1488CB;
    --grey:#EFF1F3;
    --b_text_color:#2C2F33;
    --hover:#FEC72E;
}
body{
    font-family: "Poppins";
}

.header{
    position: relative;
}
.header .header_1{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: right;
    padding-right: 80px;
}

.primary_btn{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--blue);
    padding: 15px 30px;
    border-radius: 50px;
    color: var(--white);
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s linear;
}


.header_1 .buttons a:nth-of-type(2){
    background-color: var(--grey);
    color: var(--b_text_color);
    margin-left: 20px;
}

.primary_btn:hover{
    background-color: var(--hover) !important;
    color: var(--white)!important;
}
.header_1 .social_icons{
    margin-left: 50px;
    border-right: 1px solid #dfd7d7;
    padding: 0 40px 0 0;
    align-self: stretch;
    display: flex;
    align-items: center;
}

.header_1 .social_icons i{
 font-size: 1.8rem;
 padding-left: 25px;

}

.header_1 .contact{
    font-size:1.5rem;
    padding-left: 20px;
    vertical-align: middle;
}

.header_2{
    height: 70px;
    background-color: var(--blue);
}

.header_2 ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    vertical-align: center;
    gap: 20px;
    list-style-type: none;
    padding-right: 80px;

}

.header_2 ul li {
    position: relative;
    height: 100%;
}

.header_2 ul li a{
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    font-size: 1.25rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_2 ul li:before{
    position: absolute;
    left: 0;
    top: 0px;
    height: 3px;
    width: 0%;
    content: '';
    background: #FEC72E;
    transition: all 0.4s linear;
}
.header_2 ul li a:hover .header_2 ul li:before{
    width: 100%;
}
.header_2 ul li a i{
  padding-left: 5px;
}

.header_2 .search_btn{
    color: var(--grey);
    cursor: pointer;
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_2 .search_btn:hover{
    color: var(--white);
}

.header .logo{
    position: absolute;
    top: 25%;
    left: 6%;
    width: 130px;
}

  .swiper {
    width: 100%;
    height: 400px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .swiper-slide .content{
    position: absolute;
    top: 0%;
    padding: 70px 100px;
    width: 500px;
    text-transform: capitalize;
    font-weight: 700;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
  }

  .swiper-slide .content .primary_btn{
    background-color: transparent;
    border:3px solid black;
    color: black;
    font-weight: 700;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .pagination{
    display: flex;
    justify-content: left;
    padding-left: 40px;
    margin-bottom: 140px;
    height: 20px;
  }
  

